    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/dev.jpeg&quot;);color: rgba(9, 162, 255, 0.8);">
            <div class="text">
                <h2>Backend Developers 💻</h2>
                <p> where the magic happens behind the scenes. You're the unsung heroes making sure everything runs like clockwork.
                     Keep coding and conjuring wonders!</p>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Hello There !</h2>
                    <p>let's get to know me ! 😄 </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="circular-thumbnail">
                            <img class="img-thumbnail rounded-circle" src="assets/img/avatars/portfo.JPG">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-capitalize">it's <%= user.first_name%> <%= user.last_name%></h3>
                        <div class="getting-started-info">
                            <p><%= user.description%></p>
                        </div><button class="btn btn-outline-primary btn-lg" type="button">Contact Me</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">My Skills  💻</h2>
                    <p class="text-capitalize">As a backend developer, my goal is to create scalable, efficient,
                         and secure server-side solutions that power the functionality and performance of modern web applications.</p>
                </div>
                <div class="row justify-content-center">
                    <% user.skills.forEach(skill => { %>
                        <div class="col-md-5 feature-box">
                            <% if (skill.icon) { %>
                                <i style="font-size: 40px;" class="<%= skill.icon %> icon"></i>
                            <% } else { %>
                                <i style="font-size: 40px;" class="fa-solid fa-bolt icon"></i>
                            <% } %>
                            <h4><%= skill.title %></h4>
                            <p><%= skill.description %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
        </section>
        <hr>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Projects</h2>
                    <p>I'm a junior backend developer with a robust skill set that spans the realms of Node.js, Express.js, Django, JavaScript, and Python.</p>
                </div>
                <div class="row justify-content-center">
                <% user.projects.forEach(project => { %>
                    <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card">
                        <!-- Assuming each profile has an 'avatar', 'name', 'description', and 'socialIcons' property -->
                        <i style="font-size: 50px; margin-top: 12px;" class="fa-brands fa-gitkraken"></i>
                        <div class="card-body info">
                        <h4 class="card-title"><%= project.title %></h4>
                        <p class="card-text"><%= project.features %></p>
                        <div class="icons">
                            <a href="<%= project.url %>"><i class="fa-brands fa-github"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                <% }); %>
                </div>

            </div>
        </section>
    </main>